{% extends "app/base.html" %}
{% block title %}Add item to collection{% endblock %}
{% block content %}
    <div class="my_account">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(73, 92, 105);">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Mi cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/collection">Mi colección</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_item">Agregar a colección</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_me">Acerca de mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_collector">Agregar nuevo coleccionista</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="w3-col m3 profile" style="width: 35%;">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container">
                <h3>Agrega un nuevo elemento a tu colección</h3>
                <hr>
                <div class="add-item">
                    <form enctype=multipart/form-data method="post">
                        <label>Tipo:</label>
                        <select name="type">
                            <option value="Moneda">Moneda</option>
                            <option value="Billete">Billete</option>
                        </select>
                        <input type="checkbox" id="featured" name="featured" value="featured" style="position: relative; left: 5%;">
                        <label for="featured" style="width: auto; position: relative; left: 5%;">Destacado</label>
                        <br>
                        <br>
                        <label>País:</label>
                        <input type="text" name="country">
                        <br>
                        <br>
                        <label>Denominación:</label>
                        <input type="text" name="denomination">
                        <br>
                        <br>
                        <label>Año:</label>
                        <input type="text" name="year">
                        <br>
                        <br>
                        <label>Composición:</label>
                        <input type="text" name="composition" placeholder="">
                        <br>
                        <br>
                        <div class="description-div">
                            <label>Descripción:</label>
                            <textarea name="description" placeholder="Descripción corta"></textarea>
                        </div>
                        <br>
                        <label>Imagen anversa:</label>
                        <input type="file" name="obverse_image"/>
                        <br>
                        <br>
                        <label>Imagen inversa:</label>
                        <input type="file" name="reverse_image"/>
                        <br>
                        <br>
                        <input type="submit" value="Agregar" name="upload" style="position: relative; left:40%;">
                    </form>
                </div>
                <br>
            </div>
        </div>
        <!-- <div class="messages-add-item">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div> -->
    </div>

    <div class="collection-container-add-item">
        <div class="w3-card w3-round w3-light-gray">
            <div class="w3-container items-list">
                {% for item in items %}
                    {% if item.product_type == "Moneda" %}
                        <div class="item-coin-add-item w3-container w3-white w3-round w3-card">
                            <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{name}}|{{profile_picture_path}}|{{email}}|{{item.num_views}}">
                                <!-- <img class = "obverse_side_coin_collection" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_coin.jpg')}}">
                                <img class = "reverse_side_coin_collection" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_coin.jpg')}}"> -->
                                <img class = "obverse_side_coin" src="{{item.obverse_image_path}}">
                                <img class = "reverse_side_coin" src="{{item.reverse_image_path}}">
                            </div>
                            <div class = "item_information">
                                <em><p>{{item.country}} - {{item.denomination}}</p></em>
                            </div>
                        </div>
                    {% else %}
                        <div class="item-bill-add-item w3-container w3-white w3-round w3-card">
                            <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{name}}|{{profile_picture_path}}|{{email}}|{{item.num_views}}">
                                <!-- <img class = "obverse_side_bill" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_bill.jpg')}}">
                                <img class = "reverse_side_bill" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_bill.jpg')}}"> -->
                                <img class = "obverse_side_bill" src="{{item.obverse_image_path}}">
                                <img class = "reverse_side_bill" src="{{item.reverse_image_path}}">
                            </div>
                            <div class = "item_information">
                                <em><p>{{item.country}} - {{item.denomination}}</p></em>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}