{% extends "app/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:95%;margin-top:80px">    
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            {% if logged_in == True %}
                <div class="w3-col" style="position: fixed; width: 380px;">
                    <!-- Profile -->
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                            <h4 class="w3-center">Mi perfil</h4>
                            <!-- <p class="w3-center"><img src="{{url_for('static', filename=profile_picture_path)}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p> -->
                            <p class="w3-center"><img src="{{profile_picture_path}}" class="w3-circle" style="width:180px;" alt="Avatar"></p>
                            <!-- <p class="w3-center"><img src="{{url_for('static', filename='/app/images/user_profile_pictures/avatar3.png')}}" class="w3-circle" style="width:180px;" alt="Avatar"></p> -->
                            <hr>
                            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{name}}</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{email}}</p>
                        </div>
                    </div>
                    <br>
                <!-- End Left Column -->
                </div>
            {% endif%}
            
            {% if logged_in == True%}
                <!-- Middle Column -->
                <div class="publications-list">
                    {% for item in items %}
                        {% set item_owner_name = user_objects[item.email].name %}
                        {% set item_owner_profile_picture_path = user_objects[item.email].profile_picture_path %}
                        <div class="w3-container w3-card w3-white w3-round w3-margin-right w3-margin-left w3-margin-bottom publication_super_container"><br>
                            <img src={{item_owner_profile_picture_path}} alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;">
                            <!-- <img src="{{url_for('static', filename='/app/images/user_profile_pictures/avatar3.png')}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;"> -->
                            <h4>{{item_owner_name}}</h4><br>
                            <hr class="w3-clear">

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="w3-row-padding" style="margin:0 -16px">
                                <div class="w3-half">
                                    <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
                                </div>
                            </div> -->
                            <div class="publication_container">
                                {% if item.product_type == "Moneda" %}
                                    <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}">
                                        <!-- <img class = "obverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_coin.jpg')}}">
                                        <img class = "reverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_coin.jpg')}}"> -->
                                        <img class = "obverse_side_coin_pub" src="{{item.obverse_image_path}}">
                                        <img class = "reverse_side_coin_pub" src="{{item.reverse_image_path}}">
                                    </div>
                                    <div class = "publication_description" style="margin-top: 10px;">
                                        <em><p>{{item.country}} - {{item.denomination}} - {{item.year}}</p></em>
                                    </div>
                                {% else %}
                                    <div class="images_container" style="top:10px;" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}">
                                        <!-- <img class = "obverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_bill.jpg')}}">
                                        <img class = "reverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_bill.jpg')}}"> -->
                                        <img class = "obverse_side_bill_pub" src="{{item.obverse_image_path}}">
                                        <img class = "reverse_side_bill_pub" src="{{item.reverse_image_path}}">
                                    </div>
                                    <div class = "publication_description" style="position:relative; top:10px; margin-top: 20px; margin-bottom: 25px;">
                                        <em><p>{{item.country}} - {{item.denomination}} - {{item.year}}</p></em>
                                    </div>
                                {% endif %}
                            </div>
                            <form method="post">
                                {% if item._id in user_likes %}
                                    <button type="submit" class="w3-button w3-round w3-theme-d5 w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                {% else %}
                                    <button type="submit" class="w3-button w3-round w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                {% endif %}
                                <button type="button" class="w3-button w3-round w3-margin-bottom images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}"><i class="fa fa-comment"></i>  Comentar</button> 
                            </form>
                        </div>
                    {% endfor %}
                <!-- End Middle Column -->
                </div>
            {% else %}
                <!-- Middle Column -->
                <div class="publications-list-unlogged">
                    {% for item in items %}
                        {% set item_owner_name = user_objects[item.email].name %}
                        {% set item_owner_profile_picture_path = user_objects[item.email].profile_picture_path %}
                        <div class="w3-container w3-card w3-white w3-round w3-margin-right w3-margin-left w3-margin-bottom publication_super_container_unlogged"><br>
                            <img src={{item_owner_profile_picture_path}} alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                            <!-- <img src="{{url_for('static', filename='/app/images/user_profile_pictures/avatar3.png')}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
                            <h4>{{item_owner_name}}</h4><br>
                            <hr class="w3-clear">

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="w3-row-padding" style="margin:0 -16px">
                                <div class="w3-half">
                                    <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
                                </div>
                            </div> -->
                            <div class="publication_container">
                                {% if item.product_type == "Moneda" %}
                                    <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}">
                                        <!-- <img class = "obverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_coin.jpg')}}">
                                        <img class = "reverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_coin.jpg')}}"> -->
                                        <img class = "obverse_side_coin_pub" src="{{item.obverse_image_path}}">
                                        <img class = "reverse_side_coin_pub" src="{{item.reverse_image_path}}">
                                    </div>
                                    <div class = "publication_description" style="margin-top: 10px;">
                                        <em><p>{{item.country}} - {{item.denomination}} - {{item.year}}</p></em>
                                    </div>
                                {% else %}
                                    <div class="images_container" style="top:10px;" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}">
                                        <!-- <img class = "obverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_bill.jpg')}}">
                                        <img class = "reverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_bill.jpg')}}"> -->
                                        <img class = "obverse_side_bill_pub" src="{{item.obverse_image_path}}">
                                        <img class = "reverse_side_bill_pub" src="{{item.reverse_image_path}}">
                                    </div>
                                    <div class = "publication_description" style="position:relative; top:10px; margin-top: 20px; margin-bottom: 26px;">
                                        <em><p>{{item.country}} - {{item.denomination}} - {{item.year}}</p></em>
                                    </div>
                                {% endif %}
                            </div>
                            <form method="post" style="display: flex; justify-content: space-around;">
                                {% if item._id in user_likes %}
                                    <button type="submit" class="w3-button w3-round w3-theme-d5 w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                {% else %}
                                    <button type="submit" class="w3-button w3-round w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                {% endif %}
                                <button type="button" class="w3-button w3-round w3-margin-bottom images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}|{{email}}|{{item.num_views}}"><i class="fa fa-comment"></i>  Comentar</button> 
                            </form>
                        </div>
                    {% endfor %}
                <!-- End Middle Column -->
                </div>
            {% endif %}
            
            <!-- <div class="w3-col m2" style="position: relative; left: 28%;">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Friend Request</p>
                        <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
                        <span>Jane Doe</span>
                        <div class="w3-row w3-opacity">
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- End Grid -->
        </div>
    <!-- End Page Container -->
    </div>
{% endblock %}