{% extends "app/base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <!-- Page Container -->
    <div class="w3-container" style="margin-top:80px;">    
        <div class="w3-row">
            <div class="search-container">
                <form method="post">
                    <input type="text" class="search_text" name="search" placeholder="Pais, tipo, año, denominación, palabras clave...">
                    <button type="submit" class="search_button"><i class="fa fa-search w3-xlarge"></i></button>
                </form>
            </div>
            <div class="search-selection-bar">
                <nav class="navbar navbar-expand-lg navbar-light w3-light-gray">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/countries">Paises</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
            <form method="post">
                <div class="country-groups-es">
                    <div class="country-list">
                        {% for item in items %}
                            <div class="w3-container w3-card w3-white w3-round w3-margin-right w3-margin-left w3-margin-bottom country_super_container"><br>
                                <div class="publication_container">
                                    {% if item.product_type == "Moneda" %}
                                        <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}">
                                            <img class = "obverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_coin.jpg')}}">
                                            <img class = "reverse_side_coin_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_coin.jpg')}}">
                                            <!-- <img class = "obverse_side_coin_pub" src="{{item.obverse_image_path}}">
                                            <img class = "reverse_side_coin_pub" src="{{item.reverse_image_path}}"> -->
                                        </div>
                                        <div class = "publication_description" style="margin-top: 10px;">
                                            <em><p>{{item.denomination}} - {{item.year}}</p></em>
                                        </div>
                                    {% else %}
                                        <div class="images_container" style="top:10px;" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{item_owner_name}}|{{item_owner_profile_picture_path}}">
                                            <img class = "obverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_bill.jpg')}}">
                                            <img class = "reverse_side_bill_pub" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_bill.jpg')}}">
                                            <!-- <img class = "obverse_side_bill_pub" src="{{item.obverse_image_path}}">
                                            <img class = "reverse_side_bill_pub" src="{{item.reverse_image_path}}"> -->
                                        </div>
                                        <div class = "publication_description" style="position:relative; top:10px; margin-top: 20px; margin-bottom: 26px;">
                                            <em><p>{{item.denomination}} - {{item.year}}</p></em>
                                        </div>
                                    {% endif %}
                                </div>
                                <form method="post">
                                    {% if item._id in user_likes %}
                                        <button type="submit" class="w3-button w3-round w3-theme-d5 w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                    {% else %}
                                        <button type="submit" class="w3-button w3-round w3-margin-bottom" name="{{item._id}}"><i class="fa fa-thumbs-up"></i> Me gusta</button> 
                                    {% endif %}
                                    <button type="submit" class="w3-button w3-round w3-margin-bottom"><i class="fa fa-comment"></i>  Comentar</button> 
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    <!-- End Page Container -->
    </div>
{% endblock %}