{% extends "app/base.html" %}
{% block title %}{{clicked_user_name}} Collection{% endblock %}
{% block content %}
    <div class="my_account">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(73, 92, 105);">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about_user">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_collection">Colección</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="collection-container">
        <div class="w3-card w3-round w3-light-gray">
            <div class="w3-container items-list">
                {% for item in clicked_user_items %}
                    {% if item.product_type == "Moneda" %}
                        <div class="item-coin w3-container w3-white w3-round w3-card">
                            <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{clicked_user_name}}|{{clicked_user_profile_picture_path}}">
                                <img class = "obverse_side_coin" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_coin.jpg')}}">
                                <img class = "reverse_side_coin" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_coin.jpg')}}">
                                <!-- <img class = "obverse_side_coin" src="{{item.obverse_image_path}}">
                                <img class = "reverse_side_coin" src="{{item.reverse_image_path}}"> -->
                            </div>
                            <div class = "item_information">
                                <em><p>{{item.country}} - {{item.denomination}}</p></em>
                            </div>
                        </div>
                    {% else %}
                        <div class="item-bill w3-container w3-white w3-round w3-card">
                            <div class="images_container" id="{{item._id}}|{{item.product_type}}|{{item.country}}|{{item.denomination}}|{{item.year}}|{{item.composition}}|{{item.description}}|{{item.obverse_image_path}}|{{item.reverse_image_path}}|{{clicked_user_name}}|{{clicked_user_profile_picture_path}}">
                                <img class = "obverse_side_bill" src="{{url_for('static', filename='app/images/collection_items_images/obverse_side_bill.jpg')}}">
                                <img class = "reverse_side_bill" src="{{url_for('static', filename='app/images/collection_items_images/reverse_side_bill.jpg')}}">
                                <!-- <img class = "obverse_side_bill" src="{{item.obverse_image_path}}">
                                <img class = "reverse_side_bill" src="{{item.reverse_image_path}}"> -->
                            </div>
                            <div class = "item_information">
                                <em><p>{{item.country}} - {{item.denomination}}</p></em>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}