html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

.my_account{
    position: absolute;
    top: 10%;
    left: 3%;
    width: 90%;
    text-align: center;
}

.profile{
    position: absolute;
    top: 23%;
    left: 5%;
}

.add-item label{
    display: inline-block;
    width: 125px;
    text-align: right;
}

.description-div{
    display: flex;
    align-items: center;
}