html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

.my_account{
    position: absolute;
    top: 10%;
    left: 3%;
    width: 90%;
    text-align: center;
}

.profile{
    position: absolute;
    top: 23%;
    left: 5%;
}

.add-item label{
    display: inline-block;
    width: 135px;
    text-align: right;
}

.description-div{
    display: flex;
    align-items: center;
}

.collection-container-add-item{
    position: absolute;
    top: 23%;
    left: 43%;
    width: 46%;
    height: 71%;
    overflow-y: auto;
}

.collection-container{
    position: absolute;
    top: 23%;
    left: 3%;
    width: 90%;
    height: 71%;
    overflow-y: auto;
}

.items-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item-coin{
    margin:0.5em;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.item-bill{
    margin:0.5em;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.item_information{
    margin:0.3em;
    max-width: 220px;
    overflow-x: auto;
}

.images_container{
    position: relative;
}

.images_container:hover .reverse_side_bill{
    opacity: 1;
}

.images_container:hover .reverse_side_coin{
    opacity: 1;
}

.images_container:hover .reverse_side_coin_pub{
    opacity: 1;
}

.obverse_side_coin{
    margin: 0.3em;
    width: 210px;
}

.reverse_side_coin{
    margin: 0.3em;
    width: 210px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .2s ease;
}

.obverse_side_coin_pub{
    margin: 0.3em;
    width: 170px;
}

.reverse_side_coin_pub{
    margin: 0.3em;
    width: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .2s ease;
}

.obverse_side_bill{
    margin: 0.3em;
    width: 297px;
}

.reverse_side_bill{
    margin: 0.3em;
    width: 297px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .2s ease;
}

.publication_super_container{
    width: 45%;
}

.publication_super_container_unlogged{
    width: 30%;
}

.collectors-list-super-container{
    width: 30%;
}

.publication_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.publication_description{
    font-size: small;
}

.messages-account{
    width: 90%;
    position: relative;
    left: 10%;
}

.messages-add-item{
    width: 90%;
    position: relative;
    left: 10%;
}

.about-me-container{
    position: absolute;
    top: 23%;
    left: 38%;
    width: 46%;
    height: 71%;
    overflow-y: auto;
}

.publications-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 28%;
    width: 75%;
}

.publications-list-unlogged{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.collectors-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.change_data_container{
    position: absolute;
    top: 23%;
    left: 35%;
    width: 46%;
    height: 71%;
}

.add-new-collector{
    position: absolute;
    top: 23%;
    left: 30%;
    width: 40%; 
}

.add-collector-info label{
    display: inline-block;
    width: 40%;
    text-align: right;
}

.add-collector-messages{
    position: relative;
    left: 18%;
}

.form_change_data label{
    display: inline-block;
    width: 35%;
    text-align: right;  
}